::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
