.header {
  width: 100%;
  height: 15vw;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.2vw;

  @media (max-width: 768px) {
    height: 35vw;
    border-radius: 1vw;
  }
}

.avatar {
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 15vw;
  left: 10vw;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 0.2vw solid #fff;

  .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
  }

  @media (max-width: 768px) {
    width: 22vw;
    height: 22vw;
    top: 36vw;
    left: 15vw;
  }
}

.identity {
  position: absolute;
  top: 15vw;
  left: 20vw;
  display: flex;
  flex-direction: column;
  font-weight: 600;

  .name {
    font-size: 2.5vw;
  }

  .title {
    font-size: 1.5vw;
  }

  @media (max-width: 768px) {
    top: 36vw;
    left: 30vw;

    .name {
      font-size: 3.75vw;
    }

    .title {
      font-size: 2.25vw;
    }
  }
}

.contacts {
  position: absolute;
  top: 16vw;
  right: 2vw;
  display: flex;
  align-items: center;
  column-gap: 1.2vw;

  .icon {
    height: 2vw;
    width: auto;
  }

  @media (max-width: 768px) {
    top: 37vw;
    right: 3vw;
    column-gap: 3vw;

    .icon {
      height: 4vw;
    }
  }
}

.introduction {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
  margin-top: 12vw;

  p {
    font-size: 1.5vw;
    font-weight: 500;
  }

  strong {
    font-weight: 700;
  }

  @media (max-width: 768px) {
    row-gap: 3vw;
    margin-top: 20vw;

    p {
      font-size: 3.5vw;
      text-align: justify;
    }
  }
}

.projects {
  margin-top: 10vw;

  .title {
    font-size: 2vw;
    font-weight: 600;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    margin-top: 2vw;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 4vw;
    }

    .container {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      gap: 10vw;
      margin-top: 4vw;
    }
  }
}
