.title {
  font-size: 2.5vw;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 5vw;
  }
}

.divider {
  margin: 1vw 0;

  @media (max-width: 768px) {
    margin: 3vw 0;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
  margin-top: 2vw;

  @media (max-width: 768px) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4vw;
    margin-top: 6vw;
  }
}

.card {
  width: 25vw;
  min-height: 10vw;
  background-color: white;
  border-radius: 0.2vw;
  border-bottom: 0.3vw solid transparent;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  cursor: pointer;
  padding: 1vw;

  &:hover {
    border-bottom-color: #1d4ed8;
  }

  @media (max-width: 768px) {
    width: 80vw;
    min-height: 30vw;
    border-radius: 1.2vw;
    border-bottom-width: 1vw;
    padding: 4vw;
  }
}

.card-title {
  font-size: 1.2vw;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 4.5vw;
  }
}

.card-description {
  font-size: 1vw;
  font-weight: 400;
  margin-top: 0.5vw;

  @media (max-width: 768px) {
    font-size: 3.75vw;
    margin-top: 2.5vw;
  }
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.5vw;
  row-gap: 0.5vw;
  margin-top: 1.25vw;

  @media (max-width: 768px) {
    column-gap: 4vw;
    row-gap: 2vw;
    margin-top: 4vw;
  }
}

.tag {
  display: flex;
  align-items: center;
  gap: 0.5vw;

  .circle {
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
  }

  .name {
    font-size: 1vw;
  }

  @media (max-width: 768px) {
    gap: 1.5vw;

    .circle {
      width: 1.75vw;
      height: 1.75vw;
    }

    .name {
      font-size: 3.25vw;
    }
  }
}
