.title {
  font-size: 1.5vw;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 3.5vw;
  }
}

.divider {
  margin: 1vw 0;

  @media (max-width: 768px) {
    margin: 3vw 0;
  }
}

.intro {
  font-size: 1.2vw;
  font-weight: 400;

  @media (max-width: 768px) {
    font-size: 3vw;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  margin-top: 2vw;

  @media (max-width: 768px) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10vw;
    margin-top: 4vw;
  }
}
