.footer {
  position: absolute;
  bottom: 1vw;
  right: 50%;
  transform: translateX(50%);
  margin-top: 8vw;

  p {
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
  }

  @media (max-width: 768px) {
    bottom: 3vw;
    margin-top: 14vw;

    p {
      font-size: 2.5vw;
    }
  }
}
